In [3]:
from sklearn.datasets import load_iris
iris = load_iris()

In [4]:
X = iris.data
y = iris.target

In [5]:
import pandas as pd
pd.DataFrame(X, columns=iris.feature_names).head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [7]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [8]:
knn.predict([[3,5,4,2]])

array([1])

In [9]:
#Exapmle text for model training
simple_train = ['call you tonight','Call me a cab', 'please call me... PLEASE!']

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
vect.fit(simple_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [11]:
vect.get_feature_names()

['cab', 'call', 'me', 'please', 'tonight', 'you']

In [12]:
#Transform training data into a 'document-tern matrix'
simple_train_dtm = vect.transform(simple_train)
simple_train_dtm

<3x6 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [13]:
simple_train_dtm.toarray()

array([[0, 1, 0, 0, 1, 1],
       [1, 1, 1, 0, 0, 0],
       [0, 1, 1, 2, 0, 0]])

In [14]:
pd.DataFrame(simple_train_dtm.toarray(), columns=vect.get_feature_names())

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [15]:
print(simple_train_dtm)

  (0, 1)	1
  (0, 4)	1
  (0, 5)	1
  (1, 0)	1
  (1, 1)	1
  (1, 2)	1
  (2, 1)	1
  (2, 2)	1
  (2, 3)	2

In [16]:
simple_test = ["please don't call me"]
simple_test_dtm = vect.transform(simple_test)
simple_test_dtm.toarray()

array([[0, 1, 1, 1, 0, 0]])

In [17]:
pd.DataFrame(simple_test_dtm.toarray(), columns=vect.get_feature_names())

   cab  call  me  please  tonight  you
0    0     1   1       1        0    0

In [18]:
sms = pd.read_table('/home/prathamesh/sms.tsv', header=None, names=['label','messgae'])

In [19]:
sms.shape

(5572, 2)

In [20]:
sms.head(10)

  label                                            messgae
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [21]:
sms.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [22]:
sms['label_num'] = sms.label.map({'ham':0, 'spam':1})

In [23]:
sms.head(10)

  label                                            messgae  label_num
0   ham  Go until jurong point, crazy.. Available only ...          0
1   ham                      Ok lar... Joking wif u oni...          0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3   ham  U dun say so early hor... U c already then say...          0
4   ham  Nah I don't think he goes to usf, he lives aro...          0
5  spam  FreeMsg Hey there darling it's been 3 week's n...          1
6   ham  Even my brother is not like to speak with me. ...          0
7   ham  As per your request 'Melle Melle (Oru Minnamin...          0
8  spam  WINNER!! As a valued network customer you have...          1
9  spam  Had your mobile 11 months or more? U R entitle...          1

In [24]:
X = sms.messgae
y = sms.label_num

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [26]:
vect = CountVectorizer()

In [27]:
vect.fit(X_train)
X_train_dtm = vect.transform(X_train)

In [28]:
X_train_dtm = vect.fit_transform(X_train)

In [29]:
X_train_dtm

<4179x7456 sparse matrix of type '<class 'numpy.int64'>'
	with 55209 stored elements in Compressed Sparse Row format>

In [30]:
X_test_dtm = vect.transform(X_test)
X_test

1078                         Yep, by the pretty sculpture
4028        Yes, princess. Are you going to make me moan?
958                            Welp apparently he retired
4642                                              Havent.
4674    I forgot 2 ask ü all smth.. There's a card on ...
5461    Ok i thk i got it. Then u wan me 2 come now or...
4210    I want kfc its Tuesday. Only buy 2 meals ONLY ...
4216                           No dear i was sleeping :-P
1603                            Ok pa. Nothing problem:-)
1504                      Ill be there on  &lt;#&gt;  ok.
1783    My uncles in Atlanta. Wish you guys a great se...
3465                                             My phone
5534                         Ok which your another number
4267    The greatest test of courage on earth is to be...
2498    Dai what this da.. Can i send my resume to thi...
4259                        I am late. I will be there at
147     FreeMsg Why haven't you replied to my text? I'...
141                     K, text me when you're on the way
4517    Congrats! 2 mobile 3G Videophones R yours. cal...
3053    Please leave this topic..sorry for telling that..
5392    Ooooooh I forgot to tell u I can get on yovill...
2346            Hi this is yijue, can i meet u at 11 tmr?
1242    I want to show you the world, princess :) how ...
3224                    Well that must be a pain to catch
4872                  Well. You know what i mean. Texting
3044           Your bill at 3 is £33.65 so thats not bad!
1660                         Yeah, where's your class at?
3214                                       What's ur pin?
501     Fighting with the world is easy, u either win ...
1827    Dude. What's up. How Teresa. Hope you have bee...
                              ...
2285                              Velly good, yes please!
4829    Lol no. Just trying to make your day a little ...
2155    Oh god i am happy to see your message after 3 ...
3555                       am up to my eyes in philosophy
4582    Not course. Only maths one day one chapter wit...
1010    Dear Hero,i am leaving to qatar tonite for an ...
2007    Shopping lor. Them raining mah hard 2 leave or...
221                             Ok no prob. Take ur time.
1961    Guess what! Somebody you know secretly fancies...
1141            Oh:)as usual vijay film or its different?
2270                               Haha i think i did too
2589    My superior telling that friday is leave for a...
3779    Once a fishrman woke early in d mrng. It was v...
1714    Hard LIVE 121 chat just 60p/min. Choose your g...
1463    09066362231 URGENT! Your mobile No 07xxxxxxxxx...
2694    All these nice new shirts and the only thing I...
1925                                                   Ok
3597               Good morning princess! Happy New Year!
1988                     No calls..messages..missed calls
932     Congratulations ore mo owo re wa. Enjoy it and...
2870    House-Maid is the murderer, coz the man was mu...
5458                               Sorry, I'll call later
2890                               My battery is low babe
3658             Studying. But i.ll be free next weekend.
4285    Yes. I come to nyc for audiitions and am tryin...
3207                                        At home also.
4655                     Hope you are having a great day.
1140    Message:some text missing* Sender:Name Missing...
1793    WIN: We have a winner! Mr. T. Foley won an iPo...
1710    U meet other fren dun wan meet me ah... Muz b ...
Name: messgae, Length: 1393, dtype: object

In [31]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [32]:
%time nb.fit(X_train_dtm, y_train)

CPU times: user 7.54 ms, sys: 11.2 ms, total: 18.7 ms
Wall time: 386 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [33]:
y_pred_class = nb.predict(X_test_dtm)

In [34]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.9885139985642498

In [35]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[1203,    5],
       [  11,  174]])

In [36]:
conf = metrics.confusion_matrix(y_test, y_pred_class)
print(conf[0,1])

5

In [37]:
X_test[(y_pred_class==1)&(y_test==0)]

574               Waiting for your call.
3375             Also andros ice etc etc
45      No calls..messages..missed calls
3415             No pic. Please re-send.
1988    No calls..messages..missed calls
Name: messgae, dtype: object

In [38]:
X_test[(y_pred_class==0)&(y_test==1)]

3132    LookAtMe!: Thanks for your purchase of a video...
5       FreeMsg Hey there darling it's been 3 week's n...
3530    Xmas & New Years Eve tickets are now on sale f...
684     Hi I'm sue. I am 20 years old and work as a la...
1875    Would you like to see my XXX pics they are so ...
1893    CALL 09090900040 & LISTEN TO EXTREME DIRTY LIV...
4298    thesmszone.com lets you send free anonymous an...
4949    Hi this is Amy, we will be sending you a free ...
2821    INTERFLORA - It's not too late to order Inter...
2247    Hi ya babe x u 4goten bout me?' scammers getti...
4514    Money i have won wining number 946 wot do i do...
Name: messgae, dtype: object

In [39]:
y_pred_prob = nb.predict_proba(X_test_dtm)[:, 1]
y_pred_prob

array([2.87744864e-03, 1.83488846e-05, 2.07301295e-03, ...,
       1.09026171e-06, 1.00000000e+00, 3.98279868e-09])

In [40]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [41]:
logreg.fit(X_train_dtm, y_train)

/home/prathamesh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [42]:
y_pred_class = logreg.predict(X_test_dtm)

In [43]:
y_pred_prob = logreg.predict_proba(X_test_dtm)[:, 1]
y_pred_prob

array([0.01269556, 0.00347183, 0.00616517, ..., 0.03354907, 0.99725053,
       0.00157706])

In [44]:
metrics.accuracy_score(y_test, y_pred_class)

0.9877961234745154

In [45]:
metrics.roc_auc_score(y_test, y_pred_prob)

0.9936817612314301

In [46]:
X_train_tokens = vect.get_feature_names()
len(X_train_tokens)

7456

In [47]:
print(X_train_tokens[0:50])

['00', '000', '008704050406', '0121', '01223585236', '01223585334', '0125698789', '02', '0207', '02072069400', '02073162414', '02085076972', '021', '03', '04', '0430', '05', '050703', '0578', '06', '07', '07008009200', '07090201529', '07090298926', '07123456789', '07732584351', '07734396839', '07742676969', '0776xxxxxxx', '07781482378', '07786200117', '078', '07801543489', '07808', '07808247860', '07808726822', '07815296484', '07821230901', '07880867867', '0789xxxxxxx', '07946746291', '0796xxxxxx', '07973788240', '07xxxxxxxxx', '08', '0800', '08000407165', '08000776320', '08000839402', '08000930705']

In [48]:
print(X_train_tokens[-50:])

['yer', 'yes', 'yest', 'yesterday', 'yet', 'yetunde', 'yijue', 'ym', 'ymca', 'yo', 'yoga', 'yogasana', 'yor', 'yorge', 'you', 'youdoing', 'youi', 'youphone', 'your', 'youre', 'yourjob', 'yours', 'yourself', 'youwanna', 'yowifes', 'yoyyooo', 'yr', 'yrs', 'ything', 'yummmm', 'yummy', 'yun', 'yunny', 'yuo', 'yuou', 'yup', 'zac', 'zaher', 'zealand', 'zebra', 'zed', 'zeros', 'zhong', 'zindgi', 'zoe', 'zoom', 'zouk', 'zyada', 'èn', '〨ud']

In [50]:
metrics.accuracy_score(y_test, y_pred_prob)

ValueError: Classification metrics can't handle a mix of binary and continuous targets